{% extends 'base.html' %}

{% block content %}

<h1>Add a song to {{ playlist.name }}</h1>

 
<form method="POST">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    {{ form.playlist }}
    <ul>
    <div class="form-group row">
      
        
        <div class="col-sm-6">
          {% for s in playlist.songs %}

          <input type="checkbox"
                 
                 name="song"> 
                 
                 <li>title: {{ s.title }} <br> artist: {{ s.artist }}</li>
               {% endfor %}
               </ul>
        </div>
      </div>
    <button type="submit">Submit</button>
</form>

{% endblock %}